{% extends "main.html" %}
{% block styles %}
{{ super() }}
<style>
    .md-main {
        background: linear-gradient(171deg, #795649, #795649, #46413f calc(50% - 1px), var(--md-default-bg-color) 50%);
        display: flex;
        flex-direction: column;
        overflow-y: clip;
    }
    .md-main__inner {
        flex: 1;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .md-content {
        margin-left: 0;
        margin-right: 0;
        flex: 1;
        max-width: 100%;
    }
    .md-content__inner {
        margin: 0 .8rem 1.2rem;
        padding-top: .6rem;
        height: 100%;
    }
    .hero-container {
        height: 100%;
    }
    .hero-container .inverted-color {
      color: var(--md-primary-bg-color);
    }

    /* Make main headline thicker */
    .hero-container h1 {
      margin-bottom: 1rem;
      color: currentColor;
      font-weight: 700;
    }

    /* Adjust spacing of buttons and invert them */
    .hero-container .md-button {
      margin-top: .5rem;
      margin-right: .5rem;
        border-color: var(--md-accent-fg-color);
        color: var(--md-accent-fg-color);
    }

    .hero-container .inverted-color .md-button {
      color: var(--md-primary-bg-color);
    }

    /* Invert primary button */
    .hero-container .inverted-color .md-button--primary {
      background-color: var(--md-primary-bg-color);
      color: var(--md-accent-fg-color);
      border-color: var(--md-primary-bg-color);
    }

    /* Invert hover and focus button states */
    .hero-container .md-button:hover,
    .hero-container .md-button:focus {
      background-color: var(--md-accent-fg-color);
      color: var(--md-default-bg-color);
      border-color: var(--md-accent-fg-color);
    }

    .hero-container .pb10 {
        padding-bottom: 20vh;
      }

      .hero-container .text-right {
        text-align: right;
      }

    .md-sidebar {
        display: none !important;
    }

    /* [mobile portrait -]: Adjust headline */
    @media screen and (max-width: 30em) {

      /* Make main headline smaller */
      .hero-container h1 {
        font-size: 1.4rem;
      }

        .md-sidebar.md-sidebar--primary {
            display: block !important;
        }

        .md-button {
            width: 100% !important;
            text-align: center !important;
            float: none !important;
        }

    }

    /* [mobile portrait -]: Adjust headline */
    @media screen and (max-width: 60em) {
      .hero-container {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
      }
      .hero-container .image-content, .content-placeholder {
        display: none;
      }
      /*.hero-container .content {
        padding-bottom: 6rem;
      }*/
        .md-sidebar.md-sidebar--primary {
            display: block !important;
        }
    }

    /* [tablet landscape +]: Display content and image next to each other */
    @media screen and (min-width: 60em) {

      /* Use flex layout to align items */
      .hero-container {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
      }

      /* Increase bottom spacing and set dimensions */
      .hero-container .content-placeholder {
        width: 50%;
      }

      .hero-container .content {
        width: 50%;
        align-self: center;
      }

      /* Swap with teaser and set dimensions */
      .hero-container .image-content {
        width: 50%;
      }

      .hero-container .image-content img {
        position: absolute;
      }
    }

    /* [screen +]: Adjust spacing */
    @media screen and (min-width: 76.25em) {
      /* Hide navigation */
      .md-sidebar {
        display: none;
      }

      /* Ensure the image aligns with the repository information */
      .hero-container .image-content img {
        transform: scale(0.5) translate(10%, 75%);
      }
    }
</style>
{% endblock %}

{% block content %}
<div class="hero-container">
    <!-- Hero content -->
    <div class="content inverted-color">
        <h1>Play MoH:AA/SH/BT Online</h1>
        <p>
            On May 31, 2014 - GameSpy MasterServer, which kept list of all online MoH servers has been shut down.
        </p>
        <p>Patch your game to make in-game server browser work again and join other players online!</p>
        <a
                href="getting-started"
                title="Get started"
                class="md-button md-button--primary"
        >
            Get started
        </a>
    </div>
    <div class="image-content inverted-color">
    </div>
    <div class="content-placeholder"></div>
    <div class="content">
        <h1 class="text-right">Join our community!</h1>
        <p>
            The MoH Reborn Project aims to revitalize the Medal of Honor classic games.
            Its corner stone is an unofficial MoH Reborn 1.12 patch that is developed for over 10 years!
        </p>
        <p>
            If you are interested in MoH modding, you play the game or host a server and want
            to keep in touch with like-minded people, then join our community Discord server!
        </p>
        <a
                style="float: right;"
                href="https://discord.gg/QYNNkCdHBK"
                title="Join Discord"
                class="md-button"
                target="_blank"
        >
            Join Discord
        </a>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
